#CORS {
  p {
    text-align: center;
  }
  
  .section {
    margin-bottom: 30px;
    text-align: center;
  }

  .respBox {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    color: #333;
    word-break: break-all;
    white-space: pre-wrap;
    text-align: left;
  }
}