.table {
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 3px;
    border: 1px solid #ced4da;
  }
}

.action {
  width: 100px;
}

.id {
  width: 90px;
}
